{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row" style="margin-top: 50px;">

    <div class="col">

      <form action = "{{ url_for('files') }}" method = "POST" enctype = "multipart/form-data">
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="uploadfile">
          <label class="custom-file-label" for="uploadfile" aria-describedby="inputGroupFileAddon02" >Choose file to add to Filecoin storage</label>
        </div>
        <div class="input-group-append">
          <input type="submit" class="input-group-text" id="inputGroupFileAddon02" value="Upload" />
        </div>
      </div>
      </form>

    <!-- end column -->
    </div>


    <div class="col">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-secondary alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    <!-- end column -->
    </div>

  <!-- end row -->
  </div>


  <div class="row" style="margin-top: 50px;">
    <div class="col">

    <table id="files-table" class="table table-striped table-bordered">
      <thead>
      <tr>
      <th><strong>File name</strong></th>
      <th><strong>File size</strong></th>
      <th><strong>Date uploaded</strong></th>
      <th><strong>CID</strong></th>
      <th><strong>FFS</strong></th>
      </tr>
      </thead>
      {% if stored_files %}
        {% for file in stored_files %}
          <tr>
            <td><a href="{{ url_for('download', cid=file.CID) }}">{{ file.file_name }}</a></td>
            <td>{{ file.file_size|filesizeformat(true) }} </td>
            <td>{{ file.upload_date }}</td>
            <td>{{ file.CID }} (<a href="{{ url_for('config', ffs_id=file.Ffs)}}">config</a>)</td>
            <td>{{ file.Ffs }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>

  <!-- end column -->
  </div>
  <!-- end row -->
  </div>

<!-- end container -->
</div>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>


{% endblock %}
