.navbar{
  background-color: #000;
}

.navbar-brand {
    margin-right: 50px;
}

.navbar-brand img{
  height: 30px;
  width: auto;
}

.nav-item {
  margin: 0 10px;
}

#inputGroupFileAddon02 {
  background-color: #2ea44f;
  color: #FFF;
}

.config-display {
  overflow-x: auto;
  background-color: #EEE;
  border-radius: .25rem;
  margin: 0 20px;
}
